.consultation{
    background: url('../img/bg/consultation_bg2.png') center  no-repeat;
    min-height: 680px;
    padding: 100px 30px ;
    &__descr{
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
}