.promo{
    min-height: 650px;
    height: 100%;
    padding: 21px 0 93px 0;
    background: url(../img/bg/header-bg.png) center (center/cover) no-repeat ;
    
    &__wrapper{
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 100px;
    }
    &__icons{
        color: #FFF;
        font-size: 14px;
        line-height: 14px; /* 100% */
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-top:60px
    }
    &__icon{
        width: 136px;
        display: flex;
        font-weight: 100;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__header{
        color: #FFF;
        font-size: 42px;
        font-weight: 700;
        line-height: 42px; /* 100% */
        text-transform: uppercase;
    }
    &__subheader{
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px; /* 100% */
        text-transform: uppercase;
    }
    &__subtitle{
        margin-top: 20px;
    }
    &__underButton{
        color: white;
        margin-top: 10px;
        a {
            color: white;
            text-decoration: uppercase;
        }
    }
   
}


